name: Build N1-ImmortalWrt

on:
  repository_dispatch:
  workflow_dispatch:
  #schedule:
    #- cron: 0 23 * * *      
env:
  UPLOAD_FIRMWARE: false
  RELEASE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-20.04
    name: Build for ${{ matrix.flippy_name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - flippy_name: k5.10
          - flippy_name: k5.4
          - flippy_name: k5.15
          - flippy_name: k6.x
    env:
      FLIPPY_NAME: ${{ matrix.flippy_name }}   
    steps:
    - name: Checkout
      uses: actions/checkout@main
      
    - name: Initialization environment
      run: |     
        echo "DATE=$(date "+%Y-%m-%d %H:%M:%S")"  >> $GITHUB_ENV
        echo $PWD
        sudo mkdir /opt/kernel
        cp -r ${FLIPPY_NAME}/opt/* /opt
        cd /opt
        ls
        svn co https://github.com/breakings/OpenWrt/trunk/opt/kernel kernel
        #git clone https://github.com/unifreq/openwrt_packit
        git clone https://github.com/0118Add/openwrt_packit
        cd ..
        cp /opt/whoami /opt/openwrt_packit
                
    - name: Download
      run: |
        cd /opt/openwrt_packit
        wget  https://github.com/0118Add/Openwrt-phicomm-n1/releases/download/ARMv8_immortalwrt_18.06/openwrt-armvirt-64-default-rootfs.tar.gz
        
    - name: Check Files
      run: |
        cd /opt/openwrt_packit
        ls
                
    - name: Install the package
      run: |
        sudo rm -rf /etc/apt/sources.list.d/* /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install xz-utils btrfs-progs gawk zip unzip curl dosfstools  uuid-runtime
        sudo -E apt-get -qq install git  git-core
        sudo -E apt-get -qq install pigz
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean
    
    - name: build img
      run: |
        sudo chmod  -R 777 /opt
        mkdir  /opt/openwrt_packit/tmp
        sudo mount -t tmpfs  none  /opt/openwrt_packit/tmp
        cd /opt/openwrt_packit
        #sudo chmod +x *.sh
        sudo ./mk_s905d_n1.sh
        sudo cp files/openwrt-update-amlogic output/openwrt-update-amlogic
        
    - name: pigz -9
      id: pigz
      run: |
        sudo chmod -R 777 /opt/openwrt_packit/output
        cd /opt/openwrt_packit/output
        sudo pigz -9 -p 2 *
        #sudo pigz -9 -p 2 -k *(-k保留原文件)
        
        echo "status=success" >> $GITHUB_OUTPUT
    - name: Check Files4
      run: |
        cd /opt/openwrt_packit/output
        ls
    - name: 编译后硬盘容量
      if: (!cancelled())
      run: df -hT
      
    - name: Organize files
      id: organize
      if: env.UPLOAD_FIRMWARE == 'true' && !cancelled()
      run: |
        cd /opt/openwrt_packit/output
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT
        
    - name: Upload firmware directory
      uses: actions/upload-artifact@main
      if: steps.organize.outputs.status == 'success' && !cancelled()
      with:
        name: OpenWrt_firmware${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: ${{ env.FIRMWARE }}

    - name: Create release
      id: release
      uses: ncipollo/release-action@v1
      with:
        name: R${{ env.DATE }} for ${{ env.FILE_NAME }}
        allowUpdates: true
        tag: ${{ env.FILE_NAME }}
        commit: main
        token: ${{ secrets.GITHUB_TOKEN }}
        body: |
          ## 以下为N1 HK1 x96max-ImmortalWrt源码最新固件（有更新自动编译打包最新固件）
          默认IP：192.168.2.10 默认密码： password
        artifacts: ${{ env.FIRMWARE }}/*   

    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 3
        
    - name: Remove old Releases
      uses: dev-drprasad/delete-older-releases@v0.1.0
      with:
        keep_latest: 3
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
